<!-- topbar.html -->
<div class="topbar">
    <a href="/">VISIT MASTER</a>
    <a href="https://chizzlebuddy.atabook.org/">GUESTBOOK</a>
    <a href="/">CURRENT MOOD</a>
    <a href="/">RECENT CHANGES</a>
    <a href="/">ONGOING PAGES</a>
    <a href="/">SITE BUTTON</a>
    <a href="/">RADIO</a>
    <a href="/">GLYPH</a>
    <a href="/">FILTER</a>
    <!-- need a panel on the top bar that is for all the commonly updated pages--maybe each page can get it's own panel and its a huge dropdown list -->
    <a href="/">BEHEAD ME</a>
    <a href="/">ZORK</a>
    <a href="/">UFO RELEASE</a>
    <a href="/">FART</a> 
    <a href="/">CURRENT FAV FILE</a>
    <a href="/">TTS READER</a>
    <a href="/">DEAR X, FUX YOU!</a>
    <a href="/">HIDE BAR</a>

  </div>
  
  <script>
    (function() {
      console.log("ISHTIURHTIUERTIUERHIUTHERITUHREIUTH");
      const button_textures = [
        '/assets/topbar_button_var1.png',
        '/assets/topbar_button_var2.png',
        '/assets/topbar_button_var3.png',
        '/assets/topbar_button_var4.png',
        '/assets/topbar_button_var5.png',
        '/assets/topbar_button_var6.png',
        '/assets/topbar_button_var7.png',
      ];

      const buttons = document.querySelectorAll('.topbar a');

      buttons.forEach(button => {
        const randomTexture = button_textures[Math.floor(Math.random() * button_textures.length)];
        button.style.backgroundImage = `url('${randomTexture}')`;
      });
    })();
  </script>